<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/index.css">
</head>
<body ng-app="PyduinoApp" ng-cloak>
  <img src="/digitalstudio.png" class="brand-logo"/>
  <div class="brand-headline">
    Atelier <b>Arduino/RaspberryPI</b> by Xavier et Pierre
    <br/>
    <a href="https://github.com/Oza94/pyduino">https://github.com/Oza94/pyduino</a>
  </div>
  <div ng-controller="AppCtrl as app" layout-fill layout="column" layout-align="center center" ng-style="app.bgStyle" class="content">
    <md-card style="width: 500px" md-theme-watch md-theme="default">
      <md-progress-linear md-mode="indeterminate" ng-show="!app.sensors.connected"></md-progress-linear>
      <md-card-header>
        <md-card-avatar>
          <md-icon md-font-icon="icon-ac-unit"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Sensors</span>
          <span class="md-subhead" ng-if="!app.sensors.connected">Waiting USB connection...</span>
          <span class="md-subhead" ng-if="app.sensors.connected">Wouhou weather forecast !</span>
        </md-card-header-text>
      </md-card-header>
      <md-content layout="row" layout-align="space-around" layout-padding class="sensor-data">
        <div layout="column" layout-align="small-center">
          <md-icon md-font-icon="icon-sunny"></md-icon>
          <div class="md-subhead">
            {{ app.sensors.temperature || 0}}°
          </div>
        </div>
        <div layout="column" layout-align="small-center">
          <md-icon md-font-icon="icon-volume" ng-if="app.sensors.decibel"></md-icon>
          <md-icon md-font-icon="icon-volume-mute" ng-if="!app.sensors.decibel"></md-icon>
          <div class="md-subhead">
            {{ app.sensors.decibel || 0 }}
          </div>
        </div>
        <div layout="column" layout-align="small-center">
          <md-icon md-font-icon="icon-brightness"></md-icon>
          <div class="md-subhead">
            {{ app.sensors.luminosity || 0 }}
          </div>
        </div>
      </md-content>
    </md-card>
    <md-card style="width: 500px">
      <md-progress-linear md-mode="indeterminate" ng-show="!app.slap.connected"></md-progress-linear>
      <md-card-header>
        <md-card-avatar>
          <md-icon md-font-icon="icon-pan-tool"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Slaaaaap machine</span>
          <span class="md-subhead" ng-if="!app.slap.connected">Waiting USB connection...</span>
          <span class="md-subhead" ng-if="app.slap.connected">Slap it !</span>
        </md-card-header-text>
      </md-card-header>
      <md-content layout="column" layout-align="center" layout-padding style="min-height:100px;">
        <md-slider 
          flex 
          md-discrete 
          ng-disabled="!app.slap.connected"
          ng-model="app.slapSpeed" 
          ng-change="app.setSlapSpeed()"
          step="1" 
          min="20" 
          max="250" 
          aria-label="slapSpeed">
        </md-slider>
      </md-content>
    </md-card>
    <img src="/bunny.png" class="bunny" ng-style="app.bunnyStyle"/>
  </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  
  <!-- application bootstrap  -->
  <script type="text/javascript" src="/index.js"></script>
  
</body>
</html>
